{% extends "base_user.html" %}

{% block body %}
	<form class="form-signin" role="form" action="{% url 'django.contrib.auth.views.login' %}" method="post">
		{% csrf_token %}
		<h2 class="form-sigin-heading">Login</h2>
		
		{% if form.errors %}
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Please, check email or password
          </div>
        {% endif %}
		<input type="text" id="id_username" name="username" class="form-control" placeholder="email" required autofocus>
		<input type="password" id="id_password" name="password" class="form-control" placeholder="password" required>
		<button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
		<input type="hidden" name="text" value="{{next}}">
		<a href="{% url 'register' %}">Sign up</a>
	</form>
{% endblock %}